API_ID = int(os.environ.get("API_ID", "22470912"))
API_HASH = os.environ.get("API_HASH", "511be78079ed5d4bd4c967bc7b5ee023")
BOT_TOKEN = os.environ.get("BOT_TOKEN", "")
CHANNEL_ID = os.environ.get("CHANNEL_ID","-1003878357392")
